.vin-slot-container {
    position: relative;
    padding: 20px;
  }
  
  .label-container {
    margin-bottom: 20px;
  }
  
  .vin-slot-list {
    margin-top: 2rem;
    max-height: 300px; /* Example height; adjust as needed */
    overflow-y: auto;
  }
  
  .vin-slot {
    background-color: #f9f9f9;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .slot-info {
    margin-bottom: 10px;
  }
  
  .slot-info div {
    margin-bottom: 5px;
  }
  
  .add-button {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background-color: darkgreen;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }
  
  .popup-box {
    background-color: white;
    padding    : 20px;
    border-radius: 10px;
    padding: 20px;
  }
  
  .popup-box h2 {
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .confirm-button,
  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button {
    background-color: green;
    color: white;
    margin-right: 10px;
  }
  
  .confirm-button:hover {
    background-color: darkgreen;
  }
  
  .cancel-button {
    background-color: red;
    color: white;
  }
  
  .cancel-button:hover {
    background-color: darkred;
  }
  .input-group {
    margin-bottom: 20px;
  }
  .input-column {
    flex: 1;
    margin-right: 20px;
  }
  