.limited-access-container {
    height          : 100vh;
    background-color: rgb(255, 255, 255);
    padding-top     : 250px;

    .alert-message {
        background-color: rgb(255, 255, 255);
        color           : rgb(27, 27, 27);
        border          : none;
        border-radius   : 0;
        width           : 35%;
        min-width       : 300px;
        margin          : 0 auto;
        text-align      : center;

        .text1 {
            font-size    : 2.2em;
            margin-bottom: 30px;
            font-weight  : 700;
        }

        .text2 {
            font-weight: normal;
            font-size  : 1.3em;
        }

        .text3 {
            font-weight  : normal;
            font-size    : 1.3em;
            margin-bottom: 40px;
        }
    }
}