.dashboard-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px; // Adjust the gap as needed
  width: 100%;
  padding: 1rem;
  height: 100%;

  // Style for each box
  .box {
    border: 2px solid #008cff;
    border-radius: 10px;
    padding: 20px;

    // Adjust box size and styling as needed
  }

  // Merge box 2 and 3
  .box-2 {
    grid-column: span 2;
  }

  // Additional styling for rows if needed
  .row {
    display: flex;
    justify-content: space-between;

    // Adjust row styling as needed
  }

  // Make the dashboard-page scrollable if it gets too long
  overflow-y: auto;
  max-height: calc(100vh - 100px); // Adjust as needed
}
