@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');

:root {
    --color-primary: #FF6000;
    --color-secondary: #301c10;
    --color-dark: #454545;
    --color-danger: #E20F0F;
    --color-success: #13c044;
    --color-success-light: #84E0BE;
    --color-warning: #ffbb55;
    --color-info-dark: #cfb4ab;
    --color-info-light: #f8eae7;
    --color-gradient: linear-gradient(135deg, rgba(255, 92, 51, 1) 0%, rgba(179, 74, 55, 1) 33%, rgba(166, 36, 31, 1) 66%, rgba(48, 18, 16, 1) 100%);

    --box-border-radius: 0.5rem;
    --box-shadow: 0 1rem 3rem rgba(132, 139, 200, 0.4);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

#page-container {
    position: relative;
    min-height: 100vh;

    .body {
        margin-top: 4.2rem;
        // padding-bottom: 40rem;
    }
}