// SearchCourseResult.scss

$primaryColor: #006eff;
$secondaryColor: #00c3ff;
$bgColor: #f7f7f7;

.searchList-container {
  .header {
    background-color: white;
    padding: 1.5rem 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

    .MuiOutlinedInput-root {
      width: 100%;
      max-width: 500px;
      border-radius: 20px;
      background-color: #fff;

      .MuiOutlinedInput-input {
        padding: 1rem;
        font-size: 1rem;
      }

      .MuiIconButton-root {
        padding: 0.5rem;
      }
    }
  }

  .body {
    .MuiContainer-root {
      padding: 0;
    }

    .MuiGrid-root {
      .filterBar {
        background-color: #fff;
        padding: 2rem;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 2rem;

        .MuiAccordion-root {
          background-color: transparent;

          .MuiAccordionSummary-root {
            padding: 0;
          }

          .MuiAccordionDetails-root {
            padding: 0;
          }
        }

        .selected {
          font-weight: bold;
        }
      }

      .count {
        font-weight: 600;
        font-size: 1.2rem;
        color: $primaryColor;
        margin-bottom: 1.5rem;
      }

      .course-list {
        .course-item {
          background-color: #fff;
          border-radius: 20px;
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          overflow: hidden;
          transition: all 0.3s ease;
          margin-bottom: 1.5rem;
          padding: 1.5rem;

          &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
          }

          .MuiCardMedia-root {
            height: 200px;
            width: 100%;
            object-fit: cover;
            border-radius: 20px 20px 0 0;
          }

          .details {
            .category {
              color: gray;
              font-size: 0.9rem;
              margin-bottom: 0.5rem;
            }

            .area {
              font-size: 0.9rem;
              color: $primaryColor;
              margin-bottom: 1rem;

              span {
                color: gray;
              }
            }

            .description {
              color: $primaryColor;
              font-size: 1rem;
              margin-bottom: 1rem;
            }

            .add-btn {
              background-color: $primaryColor;
              border: none;
              color: #fff;
              font-weight: 600;
              padding: 0.5rem 1rem;
              margin-top: 1rem;
              cursor: pointer;
              transition: background-color 0.3s ease;
              border-radius: 20px;

              &:hover {
                background-color: $secondaryColor;
              }
            }
          }
        }
      }

      .course-paginate {
        margin: 2rem;
        display: flex;
        justify-content: center;

        .MuiPagination-ul {
          justify-content: center;
        }
      }
    }
  }
}


// FilterBar component styles
.filterBar {
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
  
    .filter-header {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  
    .filter-title {
      font-weight: 500;
      font-size: 1.3em;
    }
  
    .filter-options {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 1rem;
  
      .filter-control {
        width: 200px; // Adjust the width as needed
      }
  
      .select-field {
        width: 100%;
      }
  
      .clear-button {
        border-radius: 10px;
      }
    }
  }
  

// CourtList component styles
.course-list {
  .count {
    font-weight: 600;
    font-size: 1.2rem;
    color: $primaryColor;
    margin-bottom: 2rem;
  }

  .course-item {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    margin-bottom: 2rem;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }

    .MuiCardMedia-root {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }

    .details {
      padding: 1.5rem;

      .category {
        color: gray;
        font-size: 1rem;
        margin-bottom: 1rem;
      }

      .area {
        font-size: 1rem;
        color: $primaryColor;
        margin-bottom: 1.5rem;

        span {
          color: gray;
        }
      }

      .description {
        color: $primaryColor;
        font-size: 1.2rem;
        margin-bottom: 1.5rem;
      }

      .add-btn {
        background-color: $primaryColor;
        border: none;
        color: #fff;
        font-weight: 600;
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $secondaryColor;
        }
      }
    }
  }
}
// CourtDetailsPage.scss

// CourtDetailsPage.scss

.container {
    margin-top: 4rem;
    padding: 2rem;
  
    .header {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
    }
  
    .back-button {
      font-size: 2rem; /* Adjust button size */
      margin-right: 1rem; /* Add margin between button and title */
    }
  
    .title {
        color: #1976d2;
        margin: 0;
        flex-grow: 1; /* Allow title to grow and occupy remaining space */
        text-align: center; /* Center align the title */
        font-weight: 700;
      }
  
    .card {
      max-width: 800px;
      margin: auto;
      padding: 3rem;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border: 1px solid #ccc;
    }
  
    .description {
      font-style: italic;
      margin-bottom: 1.5rem;
    }
  
    .sport-type,
    .area,
    .availability {
      margin-bottom: 1rem;
    }
  
    .availability span {
      color: #4caf50;
    }
  
    .loading {
      margin-top: 2rem;
      font-size: 1.2rem;
      text-align: center;
    }
  }
  