.search-bar {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  align-items: center;
  gap: 0.5rem;
}

input[type="text"] {
  flex: 1;
}

.vertical-line {
  height: 20px;
  border-left: 1px solid #ccc;
}

.search-icon {
  cursor: pointer;
}

.search-icon:hover {
  background: #bbb;
}
