.sidebar {
    width: 20%;
    background-color: #f3f3f3;
    padding: 20px;
    height: 100vh;
  }
  
  .sidebar-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
    color: black;
  
    // Add margin between icon and label
    > * {
      margin-right: 10px;
    }
  }
  
  .sidebar-item.active {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transform: initial;
  }
  
  .sidebar-item hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
  }
  
  .sidebar-item i {
    margin-right: 10px;
  }
  
  .sidebar-item {
    position: relative;
    cursor: pointer;
  
    .signout-popup {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      z-index: 1000;
  
      p {
        margin-bottom: 10px;
      }
  
      button {
        margin-right: 10px;
      }
    }
  
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
  }
  .line {
    width: 100%;
    height: 1px;
    background-color: #ccc;
    margin: 1rem;
  }
    